<div class="container">

  <h2>Base Rules</h2>

  <p>These rules determine the base operations of the kitchen.</p>

  <div class="lists">

    <div class="list-container">
      <h3>Type of Order</h3>
      <div
        cdkDropList
        #availableList="cdkDropList"
        [cdkDropListData]="availableOptions"
        [cdkDropListConnectedTo]="[selectedList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of availableOptions; track item) {
          <div class="example-box" cdkDrag>
            <app-option-card title={{item}}></app-option-card>
          </div>
        }
      </div>
    </div>
    
    <div class="list-container">
      <h3>Order Hierarchy</h3>
      <div
        cdkDropList
        #selectedList="cdkDropList"
        [cdkDropListData]="selectedOptions"
        [cdkDropListConnectedTo]="[availableList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        @for (item of selectedOptions; track $index) {
          <div class="example-box" cdkDrag>
            <app-option-card title={{item}} index={{$index}}></app-option-card>
          </div>
        }
      </div>
    </div>
  </div>
</div>